# Database connection
DATABASE_URL=mongodb://localhost:27017/
DATABASE_NAME=<placeholder_database_name>

# Logs root directory
LOGS_DIR=./logs

# Bigquery Ethereum ETL Database credentials
ETHEREUM_ETL_PROJECT_ID=<etl_database_project_id>
BIG_QUERY_CREDENTIALS_FILE=<path_to_credentials_file>

# Infura API key
INFURA_API_KEY=b856e2094d094656b25c9e8a3289c12a